 name: MLOps Pipeline
 on:
  push:
    branches: [ main ]
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ main ]
 jobs:
  workflow:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11.9'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Process data
      run: |
        python src/data/run_processing.py \
          --input data/raw/house_data.csv \ 
          --output data/processed/cleaned_house_data.csv 
    - name: Engineer features
      run: |
        python src/features/engineer.py \
          --input data/processed/ cleaned_house_data.csv \
          --output data/processed/featured_house_data.csv \
          --preprocessor models/trained/preprocessor.pk

      - name: Train model
        run: |
          python src/models/train.py \
          --config  configs/model_config.yaml \
          --data data/processed/featured_house_data.csv \
          --models-dir models \
          --mlflow-tracking-uri http://localhost:5555